body {
  background-color:skyblue ;
  margin: 10% 20%;
  color: skyblue;
  font-family: Arial, "sans serif";
}

h1 { 
  padding-bottom: 5%;
  font-size: 40px;
  font-family: 'Fresca', sans-serif;
}

header {
  padding: 0;
  margin: 0 15%;
  color: skyblue;
}
.CheckBox {
  padding: 10% ;
  margin: 5%;
  background-color: #0D98BA;
  text-align: center;
  border-radius: 20px;
}

input, 
button {
  margin: 2%;
}

#hints {
  padding-top: 2%;
  display: none;
}

#hints ul li {
  text-align: left;
}

#error {
  color: red;
  display : none;
}